{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="hero" class=" search d-flex align-items-center">
    <div class="container">
        {% if request.user.is_authenticated %}
        <h4>Add annotations</h4>
        <hr>
      <div class="row">
          <div class="col-lg-10">
        <div class="row">
        <div id="waveform"></div>
        <button
      id="play"
      class="pure-button pure-button-secondary"
      onclick="startRecording()"
    >
      <i class="fa fa-play-circle"></i> Play
    </button>
    <button
      id="pause"
      class="pure-button pure-button-secondary"
      onclick="pauseRecording()"
    >
      <i class="fa fa-pause"></i> Pause
    </button>
    <button
      id="stop"
      class="pure-button pure-button-primary"
      onclick="stopRecording()"
    >
      <i class="fa fa-stop"></i> Stop
    </button>

<div id="timeline"></div>

        </div>

          </div>
      </div>
     {% else %}
            <h4><strong>You need to be an authorized user to add annotations</strong></h4>
     {% endif %}
    </div>

</section>

{% endblock %}

{% block js  %}
<script type="application/javascript">
var wavesurfer = WaveSurfer.create({
    container: '#waveform'
});
wavesurfer.load('/media/podcast/{{ podcast.guid}}.mp3');
function startRecording() {
  wavesurfer.play()
}
function pauseRecording() {
  wavesurfer.pause()
}
function stopRecording() {
  wavesurfer.stop()
}
</script>

{% endblock %}