{% extends 'base.html' %}
{% load static %}


{% block content %}
<section id="hero" class=" search d-flex align-items-center">
    <div class="container">
        {% if request.user.is_authenticated %}
        <h4>Add annotations</h4>
        <hr>
      <div class="row">
          <div class="col-lg-10">
        <div class="row">

            <button id="play">Play</button>
        <button id="pause">Pause</button>
        <button id="voladd">Vol+</button>
        <button id="volmin">Vol-</button>

        </div>

          </div>
      </div>
     {% else %}
            <h4><strong>You need to be an authorized user to add annotations</strong></h4>
     {% endif %}
    </div>

</section>

{% endblock %}

{% block js  %}
<script type="application/javascript">


$(document).ready(function(){
	const howler = new Howl({
		src: ['/media/podcast/{{ podcast.guid}}.mp3'],
		volume: 0.5
	});
	$("#play").on("click", function(){
		howler.play();
	});
	$("#pause").on("click", function(){
		howler.pause();
	});
	$("#voladd").on("click", function(){
		var vol = howler.volume();
		vol += 0.1;
		if(vol > 1){
			vol = 1;
		}
		howler.volume(vol);
	});
	$("#volmin").on("click", function(){
		var vol = howler.volume();
		vol -=0.1;
		if(vol < 0){
			vol = 0;
		}
		howler.volume(vol);
	});
});

</script>

{% endblock %}