{% extends 'base.html' %}
{% load static %}



{% block content %}


<section id="hero" class=" search d-flex align-items-center">
    <div class="container">
        <h4>About </h4>
        <hr>
      <div class="row">
          <div class="col-lg-12">

            <p>Searching and curating relevant language learning podcasts is an extremely time-consuming task that requires significant expert knowledge. To overcome the time-consuming
                task of finding good language learning materials, this project searches and retrieves relevant language learning podcasts in the wild, summarizing their content and extracting the most salient
                topics discussed during podcast conversations.
            </p>

              <p>The Podcast Discovery Project was developed by The Language Flagship Technology Innovation Center, which is funded under a grant from the Institute of International Education (IIE), acting as the administrative agent of the Defense Language and National Security Education Office (DLNSEO) for The Language Flagship.
           One should not assume endorsement by the Federal Government. Project P.I.: Dr. Julio C. Rodriguez</p>
          </div>
      </div>
    </div>

</section>

{% endblock %}