{% extends 'base.html' %}
{% load static %}



{% block content %}


<section id="hero" class=" search d-flex align-items-center">
    <div class="container">
        <h5>About Podcast Discovery project </h5>
        <hr>
      <div class="row">
          <div class="col-lg-12">

            <p>Searching and curating relevant language learning podcasts is an extremely time-consuming task that requires significant expert knowledge. To overcome the time-consuming
                task of finding good language learning materials, this project searches and retrieves relevant language learning podcasts in the wild, summarizing their content and extracting the most salient
                topics and content.
            </p>

          </div>
      </div>
    </div>
</section>

{% endblock %}