{% extends 'base.html' %}
{% load static %}



{% block content %}
 <div id="page-container">
<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
          <div class="col-lg-12">
          <h2 class="font-weight-bold text-black">Start searching for podcasts to advance your language learning skills</h2>

              </div>
      </div>
      <div class="row">
        <div class="col-lg-12 order-1  hero-img" data-aos="fade-left" data-aos-delay="200">
<div class="form-group">
            <form method="get" action="/search/" autocomplete="chrome-off">
      <div class="input-group">
          <input type="text" class="form-control AutoComplete" type="text" autocomplete="off" id=id_q" name="q" placeholder="Try typing a topic that you may be interested in...">
                {% for field in form %}
              {% if field.name == 'language' %}
          {{ field }}
              {% endif %}
          {% endfor %}

          <button type="submit" class="btn btn-success">Search</button>
      </div>
    </form>
          </div>

        <p>Query examples:
              {% for keyword in keywords %}
                  {% if keyword == keywords|last %}
                  <a href="/search/?q={{ keyword }}">{{ keyword }}</a>
                  {% else %}
                 <a href="/search/?q={{ keyword }}">{{ keyword }}</a>,
                  {% endif %}
              {% endfor %}
        </p>
        <br>
        <br>
        <hr>
            <p>If you want to explore all available topics <a href="/topics">click here</a></p>

        </div>
      </div>
    </div>

  </section><!-- End Hero -->
<br>
<br>
    <br>
<br>
    <br>
<br>
    <br>
  <main id="main">

  <br>
    <br>

    <!-- ======= Bottom section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">


          <div class="col-lg-6 col-md-6 col-6">
                <img src="{% static '/img/tech-center_logo.png' %}" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-6 col-md-6 col-6">

          </div>

        </div>

      </div>
    </section>

  </main>
 </div>
{% endblock %}
