{% extends 'base.html' %}
{% load static %}

{% block content %}


<main id="main">
    <section>
      <div class="container">
      </div>
    </section>

    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
          <br>
          <br>

          <div class="row">
              <div class="col-md-12">
                <h3>{{ object.title_en }}</h3>
              </div>
          </div>
          <br>
          <br>
          <div class="row">
              <div class="col-md-8">
                  <p class=" font-weight-light" >{{ object.summary }}</p>
                  {% if request.user.is_authenticated %}
                    <a class="button-state-blue" href="/annotate/{{ object.id }}">Add annotation</a>
                  {% endif %}
                  {% if object.annotations %}
                    <h4>Annotations</h4>

                  {% endif %}
              </div>

              <div class="col-md-4">
                  <audio controls>
                      <source src="/media/podcast/{{ object.guid}}.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                </audio>
                    <br>
                    <br>
              {% if object.podcast_url %}
                  <div class="row">
                    <div class="col-sm">
                        <span class="font-weight-normal " style="font-size: 1rem;">Podcast URL: <a href="{{ object.podcast_url}}" target="_blank">External link</a></span>

                    </div>
                </div>
                   <hr>
              {% endif %}

                  <div class="row">
                    <div class="col-sm">
                        <span class="font-weight-normal " style="font-size: 1rem;">Duration: {{ object.duration }}</span>

                    </div>
                </div>
                   <hr>
                  <div class="row">
                    <div class="col-sm">
                        <span class="font-weight-normal " style="font-size: 1rem;">Language: </span>
                        <span class="badge badge-success">{{ object.language }}</span>
                    </div>
              </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm">
                        <span class="font-weight-normal " style="font-size: 1rem;" data-toggle="tooltip" data-placement="top" title="Salient topics and named entities extracted from the podcast">Topics: </span>
                        {% for topic in object.topics.all %}
                        <span class="badge badge-secondary">{{ topic }}</span>
                        {% endfor %}
                    </div>
              </div>
                  <hr>
                  <div class="row">
                  <div class="col-sm">
                        <span class="font-weight-normal " style="font-size: 1rem;" data-toggle="tooltip" data-placement="top" title="Author of the podcast">Author: </span>

                            <span class="badge badge-primary">{{ object.author }}</span>
                    </div>
              </div>
              <hr>
                  <div class="row">
                      <div class="col-sm">
                        <span class="font-weight-normal " style="font-size: 1rem;" data-toggle="tooltip" data-placement="top" title="A combined measure of lexical density and speech rate">Speech density: </span>
                            <span class="badge badge-info" >{% if object.sophistication > 35 %}HIGH{% elif object.sophistication <= 25 %}LOW{% else %}MEDIUM{% endif %}</span>
                    </div>
                  </div>
              </div>
          </div>

          <br>
          <br>

       <div class="row">
 <div class="col-md-12">
     {% if related %}
            <h5>Other podcasts that may interest you</h5>
<br>
<br>
{% include 'podcast/similar_podcasts.html' %}

     {% endif %}
 </div>


    </div>
  </div>
      </div>
    </section>

  </main>

{% endblock %}

{% block js %}
<script type="application/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}