{% extends 'base.html' %}
{% load static %}

{% block content %}


<main id="main">
    <section>
      <div class="container">
      </div>
    </section>

    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
          <br>
          <br>

          <div class="row">
              <div class="col-md-12">
                <h3>Topics</h3>
                  <hr>
              </div>
          </div>
          <br>
          <br>
          <div class="row">
              <div class="col-md-12">
                {% for topic in topics %}

                    {% if topic.language.language_name == "Russian" %}

            <a href="/search/?q=&topics={{ topic.id }}&language=2"><span class="badge badge-pill badge-success">{{ topic }}</span></a>
                    {% elif topic.language.language_name == "Chinese" %}

            <a href="/search/?q=&topics={{ topic.id }}&language=1"><span class="badge badge-pill badge-info">{{ topic }}</span></a>
                {% endif %}
                {% endfor %}
              </div>


          </div>

          <br>
          <br>


  </div>
      </div>
    </section>

  </main>

{% endblock %}

{% block js %}
<script type="application/javascript">

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});


</script>
{% endblock %}